// index page
.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 0px 12px 0 12px;
}

.card-space {
  background: transparent;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(55, 63, 81,0.1);
  }

  .card-space-pricing {
    font-size: 20px;
    padding-bottom: 4px;
  }

  h2 {

    font-size: 16px;
    // font-weight: ;
    margin: 0;

    span {
      font-size: 12px;
    }
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-space-info {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
}


// show page //

.card-book {
  display: block;
  position: absolute;
  border: 1px solid rgba(55, 63, 81,0.12);
  // top: -88px;
  right: 24px;
  color: #373F51;
  background: #FFFCFA;
  width: 360px;
  height: 360px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(55, 63, 81,0.12);
  font-family: "Poppins", "Open Sans", "Helvetica", "sans-serif";
  font-weight: 300;
}

.card-upload {
  margin: 8px 0px 8px 0px;

  img {
    object-fit: cover;
    border: 1px solid rgba(55, 63, 81,0.12);
    color: #373F51;
    background: #FFFCFA;
    width: 60%;
    height: 40vh;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(55, 63, 81,0.12);
  }
}

.card-map {
  margin: 8px 0px;
}

.space-description {
  margin-left: 8px;
}


.booking_card img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.booking_card {
  overflow: hidden;
  height: 280px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 24px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.booking_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking_card {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 24px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.booking_card .booking_text {
  padding: 0px;
}

.booking_card_info {
  padding: 16px;
}

#your_spaces {
  margin-top: 100px;
}













// media sizing

@media(max-width: 1200px)  {
  .cards {
    grid-template-columns: 1fr 1fr;
    }
    .card-book {
      top: -0px;
    }
}

@media(max-width: 950px)  {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media(max-width: 500px) {
  .cards {
   grid-template-columns: 1fr;
 }
}

